footer
    .footer
        .footer__name
            div &copy; 2020 Iustin
        ul.footer__list
            li
                a.footer__link(href="/privacy") Privacy
            li
                a.footer__link(href="/policy") Policy