extends _component/layout/base
block config
    -
        var title='Contact Quick Blog'
        var description='Contact me, the creator, Iustin Morosanu'
block content
    .content
        h2 Contact Information
        p You can find me on those social media platforms:
        ul 
            li Da
            li Nu
            
            image(src="C:/Users/Asus/lunca4/quickblog/src/asset/image")